<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- vue dev script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

        #navbar {
            margin-bottom: 2rem;
        }

        #website-logo {
            font-family: 'Krona One', sans-serif;
        }

        #search-form {
            margin-bottom: 2rem;
        }
    </style>
</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="website-logo">walkman</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main>
        <div id="app" class="container">
            <!-- search bar -->
            <form class="d-flex" id="search-form" @submit.prevent>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    @keyup="getArtists" v-model="searchValue" autofocus>
                <button class="btn btn-primary" type="submit" @click="getArtists">Search</button>
            </form>

            <!-- not found picture section -->
            <section id="not-found" v-show="notFound">
                <h1>item not found...</h1>
                <img src="./assets/images/404.png" alt="404 not found picture" class="img-fluid">
            </section>

            <section id="artist-list" v-show="!notFound">
                <h1 v-if="!artist.length">No Artist found</h1>
                <h1 v-if="artist.length">{{ artist.length }} found</h1>



            </section>

            <section id="artist-album" v-show="!notFound">

            </section>
        </div>
    </main>



    <footer>

    </footer>
</body>


<script>
    let app = new Vue({
        el: '#app',

        data: {
            searchValue: '',
            queryReadyValue: '',
            notFound: false,
            artist: {},
        },

        methods: {
            queryReady: function (rawSearchValue) {
                if (rawSearchValue.includes(' ')) {
                    rawSearchValue = rawSearchValue.split(' ').join('_');
                    return rawSearchValue;
                }
                else {
                    return rawSearchValue;
                }
            },

            getArtistisFromAPI: function (searchQuery) {
                return fetch(`https://theaudiodb.com/api/v1/json/1/search.php?s=${searchQuery}`)
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            // todo error handling
                            throw new Error('Something went wrong');
                        }
                    })
                    .then((responseJson) => {
                        return responseJson
                        // Do something with the response
                    })
                    .catch((error) => {
                        console.log(error)
                    });
            },

            itemNotFound: function () {
            },

            setArtist: function (givenArtist) {
                givenArtist = givenArtist.artists;

                this.artist = givenArtist;
            },

            getArtists: function () {
                let artistToSearch = this.searchValue;
                let searchQuery = this.queryReady(artistToSearch);

                this.getArtistisFromAPI(searchQuery)
                    .then(response => {
                        this.setArtist(response);
                    }

                    );

                this.itemNotFound();
            },
        },

    });
</script>

</html>