<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- fontawesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- vue JS dev script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- in a real project these styles would most likely go in an asset folder and they would most likely be written in Scss and compiled and minified 
        with a task runner such as gulp or grunt for better performance and maintainability-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

        #navbar {
            margin-bottom: 2rem;
        }

        #website-logo {
            font-family: 'Krona One', sans-serif;
        }

        #search-form {
            margin-bottom: 2rem;
        }

        #number-of-artists-found {
            margin-bottom: 3rem;
            font-size: 2rem;
        }

        .artist-card-name {
            font-size: 1.5rem;
        }

        /* todo this part is not working */
        #artist-card-preview {
            margin-bottom: 20rem !important;
        }

        .artist-bio-elipsis {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    </style>
</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="website-logo">walkman</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main>
        <div id="app" class="container">
            <!-- search bar -->
            <form class="d-flex" id="search-form" @submit.prevent>
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    @keyup="getArtists" v-model="searchValue" autofocus>
                <button class="btn btn-primary" type="submit" @click="getArtists">Search</button>
            </form>

            <section id="number-of-artists" v-show="!notFound">
                <h1 v-if="artists == null">No artists found</h1>
                <!-- using correct html syntax and changing the font with css for better accessibility -->
                <h1 id="number-of-artists-found" v-else-if="artists.length">{{ artists.length }} found</h1>
                <h1 v-else></h1>
            </section>


            <section id="artist-names-results" v-if="artists && artists.length">
                <div v-for="artist in artists" class="artist-card-preview">
                    <div class="card w-75">
                        <div class="card-body">
                            <!-- using correct html syntax and changing the font with css for better accessibility -->
                            <h2 class="card-title artist-card-name">{{ artist.strArtist }}</h2>
                            <p class="card-text artist-bio-elipsis">
                                {{ artist.strBiographyEN }}
                            </p>
                            <button class="btn btn-primary" @click="showArtistProperties(artist)">Show more</button>
                        </div>
                    </div>
                    <!-- todo check on this -->
                    <br>

                </div>
            </section>


            <section id="artist-bio" v-if="Object.keys(selectedArtist).length != 0 ">


                <!-- this would be awesome to have an api that would give us the country flag as an icon to put next to the country word -->

                <!-- todo add ifs to all of these in case one is empty -->
                <!-- todo clean the inside of it before giving new results -->
                <p>
                    Country: {{ selectedArtist.strCountry}} <i class="fas fa-flag"></i>
                </p>

                <p>
                    Name: {{ selectedArtist.strArtist }}
                </p>

                <p>
                    Label: {{ selectedArtist.strLabel}}
                </p>

                <p>
                    Year Formed: {{ selectedArtist.intFormedYear}}
                </p>

                <p>
                    Members: {{ selectedArtist.intMembers}}
                </p>

                <p>
                    Gender: {{ selectedArtist.Male}}
                </p>

                <p>
                    intBornYear: {{ selectedArtist.intBornYear}}
                </p>

                <p>
                    intBornYear: {{ selectedArtist.intBornYear}}
                </p>

            </section>
        </div>
    </main>



    <footer>

    </footer>
</body>


<script>
    let app = new Vue({
        el: '#app',

        data: {
            searchValue: '',
            queryReadyValue: '',
            notFound: false,
            artists: {},
            selectedArtist: {},
        },

        methods: {
            queryReady: function (rawSearchValue) {
                if (rawSearchValue.includes(' ')) {
                    rawSearchValue = rawSearchValue.split(' ').join('_');
                    return rawSearchValue;
                }
                else {
                    return rawSearchValue;
                }
            },

            getArtistisFromAPI: function (searchQuery) {
                return fetch(`https://theaudiodb.com/api/v1/json/1/search.php?s=${searchQuery}`)
                    .then((response) => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            // todo error handling
                            throw new Error('Something went wrong');
                        }
                    })
                    .then((responseJson) => {
                        return responseJson
                        // Do something with the response
                    })
                    .catch((error) => {
                        console.log(error)
                    });
            },

            setArtist: function (givenArtist) {
                givenArtist = givenArtist.artists;

                this.artists = givenArtist;
            },

            showArtistProperties: function (artist) {
                this.selectedArtist = artist;

                // empty out the page except for nav and search bar
                // ideally we would switch html templates to keep templates cleaner and more maintainable but since this is a challenge 
                // I put everything in one html file
                document.querySelector('#number-of-artists').style.display = "none";
                document.querySelector('#artist-names-results').style.display = "none";


            },

            getArtists: function () {
                let artistToSearch = this.searchValue;
                let searchQuery = this.queryReady(artistToSearch);

                // 
                if (document.querySelector('#number-of-artists')) {
                    document.querySelector('#number-of-artists').style.display = "block";
                }

                if (document.querySelector('#artist-names-results')) {
                    document.querySelector('#artist-names-results').style.display = "block";
                }


                this.getArtistisFromAPI(searchQuery)
                    .then(response => {
                        this.setArtist(response);
                        console.log(response);
                    });
            },
        },

    });
</script>

</html>